
<p id="notice"><%= notice %></p>
<div class="center-content">
<p class = "questionText">
    <%= @question.sequencenumber %>: <%= @question.text %>
</p>

<br/>
<div class="optionsList">
		<% if !@options.nil? %>
			<% @options.each do |option| %>
				<input type="radio" name="radioOption" value='<%= option.id %>'> &nbsp; <%= option.text %> <input type="hidden" value="<%= option.text[0]%>"><br/>
				<% end %>
		<% end %>
</div>

<% if @user.isAdmin? %>
   <br/>
	<div>
		<h3>Add Option</h3>
		<form method="post" action="/options">
			<input name="option[text]" type="text">
			<input name="option[question_id]" type="hidden" value='<%= @question.id %>'>
			<input name="addOption" type="submit" value="Add Option">
		</form>
	</div>
<% end %>
<br/>
	<input id = "checkAnswerButton"type="button" name="checkAnswer" value="Check Answer" class="questionSubmitButton">
	</div>
<script language="javascript">
	$(document).ready(function(){
		$("#checkAnswerButton").click(function(){
			
			$.ajax({
				url:"/checkAnswer"
				, type: "POST"
				, dataType: "json"
				, data: {id:<%= @question.id %>, answer: $("input[name='radioOption']:checked").val(), email: TreasureHunt.email}
				, success: function(data){
					if(data && data.isCorrect){
						alert("Correct answer");
						window.location = data.url;
					}else{
						alert("wrong answer")
					}
				}
				, error: function(error){
					alert("Error!");
				}
			});
			
		});
	})
	
</script>
<% if not(@user.nil?) && @user.isAdmin %>
<nav class="round">
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %> |
<a href="/nextQuestion?id=<%= @question.id %>&email=<%= @user.fbUser %>">Next</a>
</nav>
<% end%>
