<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" language="javascript">
</script>
<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @question.text %>
</p>

<p>
  <b>Sequencenumber:</b>
  <%= @question.sequencenumber %>
</p>
<br/>
<div class='optionsList'>
		<% if !@options.nil? %>
			<% @options.each do |option| %>
				<input type="radio" name="radioOption" value='<%= option.id %>'> &nbsp; <%= option.text %><br/>
				<% end %>
		<% end %>
</div>
<% if @user.isAdmin? %>
	<div>
		<h3>Add Option</h3>
		<form method="post" action="/options">
			<input name="option[text]" type="text">
			<input name="option[question_id]" type="hidden" value='<%= @question.id %>'>
			<input name="addOption" type="submit" value="Add Option">
		</form>
	</div>
<% end %>
<input id = "checkAnswerButton"type="button" name="checkAnswer" value="Check Answer">
<script language="javascript">
	$(document).ready(function(){
		$("#checkAnswerButton").click(function(){
			
			$.ajax({
				url:"/checkAnswer"
				, type: "POST"
				, dataType: "text"
				, data: {id:<%= @question.id %>, answer: $("input[name='radioOption']:checked").val()}
				, success: function(data){
					if(data){
						alert("Correct answer");
					}else{
						alert("wrong answer")
					}
				}
				, error: function(error){
					alert("Error!");
				}
			});
			
		});
	})
</script>
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
<%= link_to ''%>
